*
{
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
} 
 
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 80px;
    background-color: #2D2D2D;
  }

  .nav-primary ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-primary ul li {
    margin: 0 20px;
  }

  .nav-primary ul li a {
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
  color: white;

}

.nav-primary ul li a:hover {
	
  color: #2DC7FF;

}

 .hero {
    height: 600px;
    padding: 25px;
    background-image: url('../images/hero-image.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover 
 }

 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
  gap: 20px;
 }

 .typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

 h1 {
  display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: white;
  font-family: 'Libre Baskerville', serif;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  color: white;
  font-weight: 400;
}

 
.btn-hero {
    border: 2px solid #2DC7FF;
    background-color: none;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 50px;
  }

  .btn-hero:hover {
    background: #F7F7F5;
    opacity: 0.8;
    color: #2D2D2D;
  }

  .page-down {
    padding-top: 50px;
  }

 footer {
    
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 80px;
  color: white;
  background-color: #2D2D2D;

 }

  
  .social {
    align-items: center;
    display: flex;
    padding: 20px;
    gap: 15px;
    font-weight: 200;
  }