*
{
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
} 

.container {
	padding: 80px 0px;
	margin: 0 auto;
	max-width: 100%;
  text-align: center;
}

/*--------- typography section - start --------------*/

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

 h1 {
  display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: white;
  font-family: 'Libre Baskerville', serif;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  color: white;
  font-weight: 400;
}

h3{
  font-family: 'Baskerville';
font-style: normal;
font-weight: 400;
font-size: 2em;
line-height: 46px;
/* identical to box height */
color: #2D2D2D;
}

h4{
  font-size: 24px;
line-height: 36px;
/* identical to box height */
color: #000000;
text-align: left;
}

p {
	font-size: 16px;
  text-align: left;
  padding-top: 40px;
}


/*--------- typography section - end --------------*/

/*--------- header section - start --------------*/
 
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 80px;
    background-color: #2D2D2D;
  }

  .nav-primary ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-primary ul li {
    margin: 0 20px;
  }

  .nav-primary ul li a {
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
  color: white;

}

.nav-primary ul li a:hover {
	
  color: #2DC7FF;

}

/*--------- header section - end --------------*/

/*--------- hero section - start --------------*/

 .hero {
    height: 600px;
    padding: 25px;
    background-image: url('../images/hero-image.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover 
 }

 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
  gap: 20px;
 }


.btn-hero {
    border: 2px solid #2DC7FF;
    background-color: none;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 50px;
  }

  .btn-hero:hover {
    background: #F7F7F5;
    opacity: 0.8;
    color: #2D2D2D;
  }

  .page-down {
    padding-top: 50px;
  }

/*--------- hero section - end --------------*/

/*--------- about section - start --------------*/

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 310px;
  }

/*--------- about section - end --------------*/

/*--------- my skills section - start --------------*/

.skills {
display: flex;
flex-direction: column;
align-items: center;
padding: 80px 95px;
gap: 63px;
background: #F7F7F5;

}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
 
}

.skill-card {
width: 25%;
display: flex;
flex-direction: column;
align-items: center;
padding: 40px 20px;
gap: 20px;
border: 1px solid rgba(170, 163, 163, 1);
background-color: white;
}

/*--------- my skills section - end --------------*/

/*--------- my work section - start --------------*/

.work{
display: flex;
flex-direction: column;
align-items: center;
padding: 80px 0px;
gap: 63px;

}

.grid-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(170, 163, 163, 1);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.work-slider{
  display: inline-grid;
  grid-template-rows: 1fr;
  grid-template-areas: 'myArea myArea';
}

/*--------- my work section - end --------------*/

/*--------- footer section --------------*/

 footer {
    
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 80px;
  color: white;
  background-color: #2D2D2D;

 }
  
  .social {
    align-items: center;
    display: flex;
    padding: 20px;
    gap: 15px;
    font-weight: 200;
  }

  /*--------- footer section - end --------------*/

  /*--------- media queries ----------------------*/

 @media only screen and (max-width: 600px){
  .work-slider{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'myArea' 
    'myArea';
  }
  
 }

 @media only screen and (max-width: 600px){
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
   
  }
  
 }